<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mankan.plumad.mapper.AdPromotionInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mankan.plumad.model.AdPromotionInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="plan_code" property="planCode" />
        <result column="ad_type" property="adType" />
        <result column="sizes_high" property="sizesHigh" />
        <result column="sizes_wide" property="sizesWide" />
        <result column="pic_type" property="picType" />
        <result column="pic_url" property="picUrl" />
        <result column="ad_url" property="adUrl" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_user" property="createUser" />
    </resultMap>

</mapper>
