<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mankan.plumad.mapper.AdPromotionPositionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mankan.plumad.model.AdPromotionPosition">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="promotion_code" property="promotionCode" />
        <result column="charging_mode" property="chargingMode" />
        <result column="position_name" property="positionName" />
        <result column="position_code" property="positionCode" />
        <result column="ad_type" property="adType" />
        <result column="ad_sizes" property="adSizes" />
        <result column="ad_show_type" property="adShowType" />
        <result column="ad_filter" property="adFilter" />
        <result column="ad_promotion_url" property="adPromotionUrl" />
        <result column="status" property="status" />
        <result column="remarks" property="remarks" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_user" property="createUser" />
    </resultMap>
    <select id="getAdPromotionDTO" resultType="com.mankan.plumad.dto.AdPromotionDTO">
        SELECT
            b.user_id as userId,
            b.promotion_code as promotionCode,
            b.promotion_type as promotionType,
            a.position_code as positionCode,
            a.charging_mode as chargingMode,
            case when b.promotion_type = 1 then b.web_type
            when b.promotion_type = 2 then b.app_type end type,
            a.ad_sizes as adSizes,
            a.ad_type as adType,
            a.ad_filter as adFilter
        FROM
            ad_promotion_position a
            LEFT JOIN ad_promotion_mode b ON a.promotion_code = b.promotion_code
            where position_code = #{positionCode}
    </select>

</mapper>
